a {
    color: white !important;
    font-size: 30px;
    text-decoration: none !important;
}

#header {
    padding: 10px;
    justify-content: center;
    background-color: slateblue;
}

#row1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.form-inline {
    padding-left: 20px;
    padding-bottom: 20px;
}

#specific-location {
    border-color: lightgrey;
    margin-right: 10px;
    margin-left: 20px;
}

#lastSearch {
    padding-left: 35px;
    margin-top: 20px;
    
}

#weatherCard {
    padding-top: 20px;
    padding-bottom: 20px;
}


#city-display {
    font-size: 1.75rem;
    font-weight: bold;
}

#date-display {
    font-size: 1.5rem;
    font-weight: bold;
}

#row5day {
    padding-bottom: 20px;
}

#rowCards {
    justify-content: center;
}

#cardDisplay {
    display: none;
}

.card-forecast { 
    background-color: slateblue;
}

#buttonsList {
    /* display: none; */
}

.container-fluid {
    padding-bottom: 70px;
}


/* .col-sm-4 {
    background-color: #e6f2ff;
} */

footer {
    text-align: center;
    clear: both;
}

/* ---------------------- MODALS ----------------------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: slateblue;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: slateblue;
    color: white;
  }